@charset "utf-8";


/* 当園について */

.about_wrapper {
    margin: 0 auto;
    margin: 10px;
    padding: 20px;
}

h2.about_title {
    background-size: 42px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
    padding-left: 10px;
}

.about_title span {
    font-size: 0.9rem;
    font-weight: bold;
    display: inline-block;
}

.about_wrapper p {
    font-size: 0.8rem;
    line-height: 1.4;
    margin-bottom: 20px;
    padding: 0 10px;
}

h3.about_text_title {
    background: #b4c6e7;
    padding: 10px;
    margin: 20px 0;
    font-size: 1rem;
    font-weight: bold;
}

table.lunch {
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
}

.lunch th {
    width: 30%;
    border: solid 1px #333;
    background: #ecf5d9;
    text-align: left;
    padding: 10px;
}
.lunch td {
    border: solid 1px #333;
    padding: 10px;
    font-size: 0.8rem;
}

.lunch td {
    width: 70%;
}




@media screen and (min-width: 767px) {
/*ウィンドウ幅が最大767px以上の場合に適用*/
table.lunch {
    width: 80%;
    margin: 0 auto;
}
h2.about_title {
    background-size: 42px;
    font-size: 1.5rem;
}
.about_wrapper p {
    font-size: 1rem;
}
h3.about_text_title {
    font-size: 1.3rem;
}
.lunch th td {
    border: solid 1px #333;
    padding: 10px;
    font-size: 1rem;
}
}


/* 年間行事 */

.event_schedule_wrapper {
    margin: 0 auto;
    margin: 10px;
    padding: 20px;
}

h2.event_schedule_title{
    background-size: 42px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
    padding-left: 10px;
}

.event_schedule_title span {
    font-size: 0.9rem;
    font-weight: bold;
    display: inline-block;
}

.event_schedule_wrapper img{
    border: solid 5px #fff;
    width: 20%;
    display:inline-block;
}

figure {
    position: relative;
    text-align: center;
    margin:20px 0 20px 0;
    width:100%;
}

/* 写真の回転 */
img.img_A {
    position: relative;
    top:0;
    left:20px;
    z-index: 0;
    transform: rotate(2deg);
    margin-bottom: 0;
}
img.img_B {
    position: relative;
    top:0;
    left: 10px;
    z-index:1;
    transform: rotate(10deg);
    margin-bottom: 0;
}
img.img_C {
    position: relative;
    top:0;
    right:10px;
    z-index: 1;
    transform: rotate(-10deg);
    margin-bottom: 0;
}
img.img_D {
    position: relative;
    top:0;
    right:20px;
    z-index: 1;
    transform: rotate(-2deg);
    margin-bottom: 0;
}


.event_schedule_wrapper p {
    font-size: 0.8rem;
    line-height: 1.4;
    margin: 20px 0;
    /* margin-bottom: 20px; */
    padding: 0 10px;
}

h3.event_schedule_text_title {
    background: #b4c6e7;
    padding: 10px;
    margin: 20px 0;
    font-size: 1rem;
    font-weight: bold;
}
.event_schedule {
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
}

.event_schedule  {
    border-collapse: separate;
}
.event_schedule th {
    /* border: solid 1px #333; */
    text-align: left;
    padding: 10px;
    color:#fff;
    border-radius: 10px 0 0 10px;
}
/* 偶数の段落 */
th.m1 {
    background:#92ca06;
  }
/* 奇数の段落 */
th.m2 {
    background:#b8db60;
  }

.event_schedule td {
    /* border: solid 1px #333; */
    padding: 10px;
    font-size: 0.8rem;
    background:#f6f6f6;
    border-radius: 0 10px 10px 0;
}


.event_schedule td {
    width: 80%;
}

/*1日の保育活動  */


.oneDay_schedule th {
    width: 30%;
    /* border: solid 1px #333; */
    text-align: left;
}
.oneDay_schedule td {
    /* border: solid 1px #333; */
    padding: 10px;
    font-size: 0.8rem;
}

.oneDay_schedule th {
    width: 20%;
    color: #6e9a04;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}


@media screen and (min-width: 767px) {
/*ウィンドウ幅が最大767px以上の場合に適用*/
table.event_schedule,
table.oneDay_schedule {
    width: 80%;
    margin: auto;
}
.event_schedule_wrapper p {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-size: 1rem;
}

h2.event_schedule_title{
    background-size: 42px;
    font-size: 1.5rem;
}

h3.event_schedule_text_title {
    font-size: 1.3rem;
}
.event_schedule {
    font-size: 1.2rem;
}

.oneDay_schedule th {
    font-size: 1.2rem;
}
}

/* 入園の案内*/
.information_wrapper {
    margin: 0 auto;
    margin: 10px;
    padding: 20px;
}

h2.information_title {
    background-size: 42px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
    padding-left: 10px;
}

.information_title span {
    font-size: 0.9rem;
    font-weight: bold;
    display: inline-block;
}

.information_wrapper p {
    font-size: 0.8rem;
    line-height: 1.4;
    margin-bottom: 20px;
    padding: 0 10px;
}

h3.information_text_title {
    background: #b4c6e7;
    padding: 10px;
    margin: 20px 0;
    font-size: 1rem;
    font-weight: bold;
}

table.information {
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
}

.information th {
    width: 30%;
    border: solid 1px #333;
    background: #ecf5d9;
    text-align: left;
    padding: 10px;
}
.information td {
    border: solid 1px #333;
    padding: 10px;
    font-size: 0.8rem;
}

.information td {
    width: 70%;
}

@media screen and (min-width: 767px) {
    /*ウィンドウ幅が最大767px以上の場合に適用*/
    table.information {
        width: 80%;
        margin: 0 auto;
    }
    h2.information_title {
        /* background-size: 42px; */
        font-size: 1.5rem;
    }
    .information_wrapper p {
        font-size: 1rem;
        width: 80%;
        margin: 0 auto;

    }
    h3.information_text_title {
        font-size: 1.3rem;
    }
    .information th td {
        border: solid 1px #333;
        padding: 10px;
        font-size: 1rem;
    }
    }
    
/* お問い合わせ */

.contact_wrapper {
    margin: 0 auto;
    margin: 10px;
    /* padding: 20px; */
}

h2.contact_title {
    background-size: 42px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
    padding-left: 10px;
    text-align:center;
}

.contact_title span {
    font-size: 0.9rem;
    font-weight: bold;
    display: inline-block;
}

.contact {
    width: 100%;
    height: auto;
    background: rgb(207, 207, 207);
    border: solid 5px #fff;
    box-sizing: border-box;
    font-size: 0.5rem;
    margin-bottom:30px;
}
.contact_wrapper p {
    line-height: 1;
    margin:0;
    padding: 5px;
    font-size: 0.9rem;
    margin-bottom: 10px;
}
.form-item {
    margin:10px;
}

label {
    font-size:1rem;
}
input{
    border: solid 1px #aaa;
    border-radius: 5px;
    padding: 8px;
    font-size: 1px;
    width: 100%;
}
textarea {
    width:100%;
}

form {
    /* width:100%; */
    margin:0 auto;
    background: #eeeeee;
    padding:30px;
}
form dl dt{
    width: 165px;
    padding:10px 0;
    float:left;
    clear:both;
  }
  form dl dd{
    padding:10px 0;
  }
  button {
      padding:5px 20px;
      margin: 0 auto;
      text-align: center;
      display: block;
      margin-top:10px;
      width: 30%;
      color:#fff;
      border: solid 2px #fff;
      border-radius: 5px;
      background:#5c6ccd; 
      box-shadow: 0px 4px gray;
      cursor: pointer;
  }
  button:hover {
    opacity: 50%;
    transition-duration:.7s;
  }
  button:active {
      box-shadow: none;
      position: relative;
      top: 5px;
  }

   
  /*一応幅を決めておきます*/
  input[type="date"] {
      width: 200px;
  }
   

@media screen and (min-width: 767px) {
    /*ウィンドウ幅が最大767px以上の場合に適用*/
    .contact_wrapper {
        margin-top: 30px;
    }
    .contact {
        width: 80%;
        margin: 0 auto;
    }
    .contact {
        margin-bottom: 30px;
    }
    h2.content_title {
        font-size: 1.5rem;
    }
    .contact_wrapper p {
        font-size: 1rem;
        width: 80%;
        margin: 0 auto;
    }
    .contact_wrapper p {
        margin-bottom: 20px;
    }
    input{
        border: solid 1px #aaa;
        border-radius: 5px;
        padding: 8px;
        font-size: 1px;
        width: 68%;
    }
    
    textarea {
        width:70%;
    
    }


    }
    




/* 交通の案内 */
.traffic_guide_wrapper {
    margin: 0 auto;
    margin: 10px;
    padding: 20px;
}

h2.traffic_guide_title {
    background-size: 42px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
    padding-left: 10px;
}

.traffic_guide_title span {
    font-size: 0.9rem;
    font-weight: bold;
    display: inline-block;
}



h3.traffic_guide_text_title {
    background: #b4c6e7;
    padding: 10px;
    margin: 20px 0;
    font-size: 1rem;
    font-weight: bold;
}

table.traffic_guide {
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    margin: 20px 0;
}

.traffic_guide th {
    width: 30%;
    border: solid 1px #333;
    background: #ecf5d9;
    text-align: left;
    padding: 10px;
}
.traffic_guide td {
    border: solid 1px #333;
    padding: 10px;
    font-size: 0.8rem;
}

.traffic_guide td {
    width: 70%;
}
.map_content {
    margin: 0 auto;
    margin: 20px 0;
}

.traffic_guide_wrapper p {
    font-size: 0.8rem;
    line-height: 1.4;
    margin: 10px 10px;
}
span.age {
    border-radius:10px;
    background: rgb(0, 155, 52);
    padding:5px;
    font-size: 0.8rem;
    color:#fff;
    margin: 10px 10px;
}




@media screen and (min-width: 767px) {
    /*ウィンドウ幅が最大767px以上の場合に適用*/
    table.traffic_guide {
        width: 80%;
        margin: 0 auto;
    }
    h2.traffic_guide_title {
        /* background-size: 42px; */
        font-size: 1.5rem;
    }

    h3.traffic_guide_text_title {
        font-size: 1.3rem;
    }
    .traffic_guide th td {
        border: solid 1px #333;
        padding: 10px;
        font-size: 1rem;
    }

    .map_content {
        width:80%;
        margin: 0 auto;
    }
    .access_content{
        margin: 0 auto;
        margin: 20px 0;

    }
    .table.traffic_guide {
        width: 80%;
    }

    .traffic_guide_wrapper p {
        font-size: 1rem;
        line-height: 1.4;
        margin: 20px 10px;
       
    }
    span.age {
        border-radius:10px;
        padding:10px;
        font-size: 1rem;
        margin: 20px 10px;
    }
    }
