@charset "utf-8";

html {
    font-size: 16px;
    font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background: #f1f0ec;
    color:#333;
}
    
* {
    margin: 0 auto;
    padding: 0 auto;
}

/* 縦向き (Portrate mode) と横向き (Landscape mode) の
文字サイズを自動調整する */
body {
    -webkit-text-size-adjust: 100%;
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* link 下線非表示　共通 */
a {
    text-decoration:none;
    color:#000;
}

hr {
    display:none;
}

/* float解除 */
.clear  {
    content: "";
    display: block;
    clear: both;	
}
/* ヘッダーコンテンツ */

.header_logo {
    text-align: center;
    position: relative; 
    margin-top:10px;
    margin-bottom:20px;
}


.logo_mark a{
    display:inline-block;
    font-size:1rem;
}

.logo_icon {
    display:inline-block;
    vertical-align: middle;
}

.logo_icon img{
    width:2.2rem;
    height:2.2rem;
}

p.text {
    display: inline;
    vertical-align:bottom;
}

.akemigakuen h1 {
    font-size:1.5rem;
}
.akemigakuen p {
    font-size:0.7rem;
}





/* ナビゲーション */
.navigation_content {
    display:none;
}
/* ハンバーガーメニュー */

#nav_humberger {
    width:100%
}
#nav_humberger ul {
    margin:0px;
    padding:0px; 
}   
#nav_humberger ul li{
    list-style-type:none;
    border-bottom:1px solid #ccc;
}   

#nav_humberger ul li a{
       width:100%;
       display:block;
       background-color:#333;
       color:#fff;
       text-align:center;
       padding:10px 0px 10px 0px;
       text-decoration:none;
       transition:.5s;
    }

    #nav_humberger {
        position:absolute;
        top: -500;
        bottom: 100%;
        transition:.7s;
        z-index: 2;
    }
    
    #nav_humberger li a:hover{
        color:#fff;
        background:#555555;
        border-bottom:none;        
    }

    #humberger_btn {
        display:block;
        position: absolute;
        top:10px;
        right:40px;
        width:10px;
        height:22px;
        cursor: pointer;
        transition: .1s;
        z-index: 3;
        
    }


.inner_line {
    display:block;
    position:absolute;
    left:0;
    width:40px;
    height:3px;
    background:#333;
    transition:.1s;
    border-radius: 4px;
}

#line_1 {
    top:0;
}
#line_2 {
    top:10px;
}
#line_3 {
    bottom:0;
}

.fadein {
    transform: translateY(100%);
}


.line1,
.line2,
.line3 {
    background:#fff;
}

.line1 {
    transform: translateY(10px)rotate(-45deg);
    top:0;
}
.line2 {
    opacity:0;
}
.line3 {
    transform: translateY(-10px)rotate(45deg);
    bottom:0;
}


/* スライドショー  */
body {
  background: #f1f0ec;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f1f0ec;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* スライダー矢印・丸　色 */
.swiper-button-next:after, 
.swiper-button-prev:after {
 color:#0061c9 !important;
}
:root {
    --swiper-theme-color: #0061c9 !important;
}


/* お知らせ */
/* コンテンツ間の余白幅 */

.information_content {
    margin:0 auto;
    margin:10px;
    padding:20px;
}

article.info_title {
    display: table;
    padding-bottom:20px;
}
.info_title h2 {
    background:url(../img/oshirase.png) no-repeat;
    background-size:42px;
    height:50px;
    font-size:1rem;
    font-weight:bold;
    padding-left: 60px;
    line-height:1.4;
}
.info_title span {
    font-size:0.9rem;
    font-weight:bold;
    display:inline-block;
}



/* お知らせスクロールバー表示・幅・高さ・余白 */
.information_textbox {
    overflow:auto;
    width:100%;
    height:180px;
    margin-bottom: 20px;
}


/* スクロールバーの色の変更　変更できない調査する */
.information_textbox::-webkit-scrollbar-track {
    border-radius: 10px;
	background: #f2f2f2;
}

.information_textbox::-webkit-scrollbar-thumb{
    border-radius: 10px;
	background:#00596170;
}
/* スクロールバーの色の変更　変更できない調査する */


.information_textbox dl {
    border-bottom:2px dashed #333;
    margin:20px 0;
}
.information_textbox dt {
    font-size:0.8rem;
}
.information_textbox dd {
    margin-bottom:10px;
    font-size:0.8rem;
}
.information_textbox dl:first-child {
    border-top: none;
}

/* >一覧へボタン　共通 */
.more_btn {
    float:right;
    /* margin: 20 0; */
}
p.look{
    font-size: 0.9rem;
    display:inline;
    background:#af8382;
    border-radius:5px;
    color:#fff;
    padding: 0.5rem;
}
.more_btn a:hover {
    background:#fff;
    opacity:0.8;
    transition:.7s;
}

/* 最近の出来事　1段目 */ /* 最近の出来事　2段目 */

.topics_content {
    margin:0 auto;
    margin:10px;
    padding:20px;
}

article.topics_title {
    display: table;
    padding-bottom:20px;
}
.topics_title h2 {
    background:url(../img/kinominoki.png) no-repeat;
    background-size:42px;
    height:50px;
    font-size:1rem;
    font-weight:bold;
    padding-left: 50px;
    line-height:1.4;
}
.topics_title span {
    font-size:0.9rem;
    font-weight:bold;
    display:inline-block;
}


.topics_contentbox p {
    background:#fff;
    margin-bottom: 20px;
}

.topics_text p {
    font-size:0.8rem;
    padding: 5px;
    line-height: 1.5;
}







/* 明美学園　概要ページへリンクバナー */
.overview_banner {
    margin:0 auto;
    margin:10px;
    padding:20px;
}


/* 入園をご検討中の皆さまへ */
.guide_wrapper{
    margin:0 auto;
    margin: 10px;
    padding:20px 20px 0 20px;
}

.guide_wrapper h2{
    font-size: 1rem;
    border-bottom: solid 1px #333;
    padding-bottom: 10px;
}
.guide_list_item {
    display:block;
    text-align:center;
    border-bottom:1px solid #333;
    padding:10px 0;
    font-size:0.9rem;
}
.guide_list_item:hover {
    opacity:0.8;
    transition:0.7s;
    background:rgb(197, 197, 197); 
} 

.guide_list1 ul,
.guide_list2 ul,
.guide_list3 ul {
    padding: 0;
    margin: 0;
}




/* 資料請求ボタン */
.guide_btn_content {
    margin:0 auto;
    margin:10px;
    padding:10px 20px 20px 20px;
    
}
.guide_btn p a{
    font-size:0.9rem;
}


.guide_btn a{
    display:block;
    font-size: 1rem;
    background:#34aa9a;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-align:center;
}
.guide_btn:hover {
    opacity: 0.8;
    background:#fff;
    transition:.7s
}

/* フッターコンテンツ */
.footer_logo {
    /* background:rgb(255, 162, 162); */
    text-align: center;
    position: relative; 
    margin-top:10px;
    background:#684e4d;
    color: #fff;
}


.footer_logo_mark a{
    display:inline-block;
    font-size:1rem;
    margin-top:10px;
}

.footer_logo_icon {
    display:inline-block;
    vertical-align: middle;
}

.footer_logo_icon img{
    width:2.2rem;
    height:2.2rem;
}

p.footer_text {
    display: inline;
    vertical-align:bottom;
    color:#fff;
}

.footer_akemigakuen h1 {
    font-size:1.5rem;
}
.footer_akemigakuen p {
    font-size:0.7rem;
}
.copyright {
padding:10px 0 15px 0;
font-size:0.7rem;
}








@media screen and (min-width: 767px) { /*ウィンドウ幅が最大767px以上の場合に適用*/
  
/* スライドショー  */
.swiper-container {
    max-width: 1200px;
    height: auto;
    }
    .slideshow {
    margin: 50px 0;
}

/* ナビゲーション */
#humberger_btn {
    display:none;
}

.navigation_content {
    font-size:0;
    display:block;
    text-align:center;
}

hr {
    display:block;
    border-top: 5px dashed #8c8b8b;
    border-bottom: 5px dashed #fff;
    margin:0 50px;
}

.navigation_content ul li{
    list-style:none;
    display:inline;
    vertical-align:middle;
    margin-right: 30px;
}

.navigation_content ul li a{
    font-size:1.1rem;
    display:inline-block;
    line-height:1.3;
    padding:15px 0;
}



/* メイン　2 カラム*/
/* お知らせ */

.main_content {
    display:flex;
    margin:0 auto;
    margin:30px;
    /* padding:20px; */
}
.information_content {
    width:300px;
}
.information_textbox {
    height:500px;
}

article.info_title {
    display: block;
    padding-bottom:20px;
}
.info_title h2 {
    background:url(../img/oshirase.png) no-repeat;
    background-size:55px;
    height:50px;
    font-size:1.8rem;
    font-weight:bold;
    padding-left: 70px;
    line-height:90%;
}
.info_title span {
    font-size:1rem;
    font-weight:bold;
    display:inline-block;
}

/* ボタン */
.information_content {
    position: relative;;
}
.info_pc {
    position: absolute;
    top: 35px;
    left: 250px;
}


/* トピックス */

.column {
    display:flex;
    flex-direction:column;
}


.topics_wrapper {
    display:flex;
    box-sizing: border-box;
    max-width: 100%;
    /* margin-bottom:0; */
    padding: 0;
    margin: 0;
}
.topics_contentbox {
    margin: 10px;
}


article.topics_title {
    display: block;
    padding-bottom:20px;
}

.topics_title h2 {
    background:url(../img/kinominoki.png) no-repeat;
    background-size:55px;
    height:50px;
    font-size:1.8rem;
    font-weight:bold;
    padding-left: 60px;
    line-height:90%;
}
.topics_title span {
    font-size:1rem;
}


.topics_contentbox p {
    margin-bottom: 0;
}

/* ボタン */
.topics_content  {
    position:relative;
} 

.topicsA_pc,
.topicsB_pc {
    position: absolute;
    top: 30px;
    right: 25px;
} 



/* 入園をご検討中の皆さまへ ここから */

.guide_wrapper {
    margin:0 auto;
    margin:30px;
}
.guide_content {
    display:flex;
    justify-content:space-between;
    align-items: center;
}


.guide_wrapper h2 {
    font-size:1.8rem;
    font-weight:bold;
    text-align:left;
    border-bottom: 1px solid #000;
    margin:30px;
}

.guide_content {
    padding:0;
    text-align:left;
}

li.guide_list_item {
    text-align: left;
    font-size: 1rem;
    border-bottom: 1px dashed #000;
    padding: 20px 20px 20px 0;
}


.guide_content li:nth-child(even){
    border:none;
}

.guide_list1,
.guide_list2,
.guide_list3 {
    border-right: 1px solid #000;
    padding-right: 60px;
    width:300px;
    margin:10px;
}

.guide_list3:nth-child(3){
    border-right:none;
    }


/* 資料請求ボタン */
.guide_btn_content {
    margin:0 auto;
    margin:10px;
    padding:10px 20px 20px 20px;
    
}
.guide_btn p a{
    font-size:1rem;
}


.guide_btn a{
    display:block;
    font-size: 1rem;
    background:#34aa9a;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-align:center;
}
.guide_btn:hover {
    opacity: 0.8;
    background:#fff;
    transition:.7s
}





    }
